<footer class="site-footer grey darken-3 grey-text text-lighten-2">
    <div class="container row">
        <div class="col s3" style="font-size: 14px;">
            <p>Email : shanikacj@gmail.com</p>
            <p>Mobile : (+64) 021 02482571</p>
        </div>
        <div class="col s3">
            <p>{% include icon-linkedin.html username=site.linkedin_username %} &nbsp;&nbsp;&nbsp; {% include icon-github.html username=site.github_username %}</p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.parallax').parallax();
            $('code').parent().addClass('prettyprint');
            prettyPrint();
        });

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-69862437-1', 'auto');
        ga('send', 'pageview');

    </script>

</footer>