<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey lighten-5">
            <div class="container">
                <a href="#" class="brand-logo black-text" style="font-size: 22px;">{{ site.title
                    }}</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% for my_page in site.pages %}
                    {% if my_page.title %}
                    <li><a class="page-link grey-text" href="{{ my_page.url | prepend: site.baseurl }}">{{
                        my_page.title
                        }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
